.research {
    margin-bottom: 50px;
}
.research > h2 {
        font-family: 'General Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-left: 0;
}
.card
{
    margin-left: 2 rem;
}