.bg-img {
    background-image:
    linear-gradient(to top, rgba(245, 245, 245, 0), rgb(0, 35, 75,0.3)),
    url("../../Assets/landing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    
}
.container{
    /* background-image: linear-gradient(rgba(255,255,255,0), rgb(0, 153, 255,0.25)); */
    margin: 0;
}
.outside{
    background-image: linear-gradient(to top, rgba(245, 245, 245, 0), rgb(0, 35, 75,0.7));
    padding-bottom: 100px;
}