.navbar-titles{
  font-weight: 600 !important;
  font-size: 16px !important;
  color: rgb(0, 0, 0) !important;
  margin-left: 4px !important;
}
.navbar-titles:hover, a:hover{
  color: rgb(113, 113, 113) !important;
}
.heading{
  font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 32px;
margin-top: 1.5rem;
}

.heading-para{
width: 65%;
margin-top:2rem;
font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #1C201E;
}
